@tailwind base;
@tailwind components;
@tailwind utilities;

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(0, 0, 0, 0.1);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.animate-left {
  animation: swipe-left 0.5s forwards;
}

.animate-right {
  animation: swipe-right 0.5s forwards;
}

@keyframes swipe-left {
  0% {
    width: 0;
    right: 0;
  }

  50% {
    width: 100%;
    right: 0;
  }

  100% {
    width: 0;
    right: 100%;
  }
}

@keyframes swipe-right {
  0% {
    width: 0;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}